icosatabolne/cpp/CMakeFiles/
icosatabolne/cpp/CMakeCache.txt
icosatabolne/cpp/_deps/
icosatabolne/cpp/_deps/
icosatabolne/cpp/build/
icosatabolne/cpp/CMakeFiles/
icosatabolne/cpp/CMakeCache.txt
icosatabolne/cpp/_deps/
icosatabolne/cpp/build/
icosatabolne/cpp/CMakeFiles/
icosatabolne/cpp/CMakeCache.txt
**/_deps/
**/build/
