name: Deploy Icosatabolne

on:
  push:
    branches: [ main, glyph-war-feature ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        working-directory: ./icosatabolne
        run: flutter pub get

      - name: Run Tests
        working-directory: ./icosatabolne
        run: flutter test

      - name: Build Web
        working-directory: ./icosatabolne
        run: flutter build web --release --base-href "/icosatabolne/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./icosatabolne/build/web

      - name: Build Android APK
        working-directory: ./icosatabolne
        run: flutter build apk --release

      - name: Upload Android Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: ./icosatabolne/build/app/outputs/flutter-apk/app-release.apk
